# Database Fundamentals and Applications &ndash; Tutorial 5 &ndash; Part III

In this part of the tutorial, you will use this Jupyter Notebook to connect to your MySQL Server from Python. In particular, you will establish a connection to the $\texttt{world}$ database. You will use this connection to carry out several basic SQL queries, followed by using Python's pandas package, to provide some basic descriptive statistics.

## Getting started

### Connect Python to MySQL

Before Python can connect to your MySQL Server, you need to install the MySQL-Python connector. Run the code below to install this connector.

In [ ]:
# install mysql connector
!pip install mysql-connector-python

Please run the cell below to load all the necessary packages.

In [ ]:
# import packages
import mysql.connector
import pandas as pd
import scipy.stats as stats
%matplotlib inline

Use the code below to establish a connection to the $\texttt{world}$ database on your local MySQL Server. **Do not forget to change the password!**

In [ ]:
# connect to Yelp
connection = mysql.connector.connect(host = "localhost",
                                     user = "root",
                                     password = "...",
                                     db = "world")

**If you run into errors executing the code above, try restaring the kernel**: in the 'Kernel' menu, click 'Restart'. If this does not help, try installing the newest MySQL-Python connector from https://dev.mysql.com/downloads/connector/python/8.0.html. Do not forget to restart the kernel after installation.

### Testing the connection

In Part III of the tutorial, you will primarily use Python's Pandas package to extract, clean, and visualise the data. The code below demostrates how to execute a SQL statement using Pandas, and extract a DataFrame.

In [ ]:
# select first 20 rows from the country table
data = pd.read_sql_query("SELECT * \
                          FROM country \
                          LIMIT 20",
                         connection)
# let's inspect the data
data.head()

## Questions

### Basic counts

How many rows are there in the tables country, city, and countrylanguage?

In [ ]:
# count the number of rows in country
data = pd.read_sql_query("...", connection)
print("Number of rows in country = " + str(data.iloc[0,0]))
# count the number of rows in city
data = ...
print("Number of rows in city = " + str(data.iloc[0,0]))
# count the number of rows in city
...
print("Number of rows in countrylanguage = " + str(data.iloc[0,0]))

### Number of cities per country

Find all countries that have at least 50 cities in the city tables. For those countries, report the name of the country as countryName, and report the number of cities in that country as numCities. Create a horizontal bar plot showing the number of cities per country in the result of your query.

In [ ]:
data = pd.read_sql_query("...",
                         connection)
# create horizontal bar plot
data.plot.barh(x='...', y='...')

### City names that appear in more than one country

Write and execute a query showing all city names that appear in more than two countries. Also report in how many distinct countries that city name appears. Return the name as cityName and the count as numCountries.

In [ ]:
data = pd.read_sql_query("...",
                         connection)
# let's see the result
print(data)

### Number of languages per country

For each country, find out how many languages are spoken in that country according to the countrylanguage table. For each country, return countryName as well as the count of the number of languages. Call this count numLanguages.

In [ ]:
data = pd.read_sql_query("...",
                         connection)
# print the first few rows
data.head()

Now, plot a histogram of numLanguages, and perform a Jarque-Bera test on the normality of numLanguages. What do you conclude? Is the number of languages per country normally distributed?

In [ ]:
# plot the histogram of the number of languages per country
data.plot.hist(y='...')
# perform a Jarque-Bera test of normality (null hypothesis)
stats.jarque_bera(...)

#### Conclusion:
*Your conclusions go here.*

### Number of official and unofficial languages per country

For each country, again return countryName and numLanguages. But now, in addition, return the number of languages that are official (name this field numLangOff) as well as the number of languages that are not official (name this field numLangUnoff).

In [ ]:
data = pd.read_sql_query("SELECT country.name AS countryName, \
                          COUNT(*) AS numLanguages, \
                          CAST( \
                              SUM( \
                                  CASE \
                                      WHEN isOfficial = 'T' THEN 1 \
                                      ELSE 0 \
                                  END \
                              ) AS SIGNED \
                          ) AS numLangOff, \
                          CAST( \
                              ... \
                              ) AS SIGNED \
                          ) AS numLangUnoff \
                          FROM ..., ... \
                          WHERE ....code = ....CountryCode \
                          GROUP BY ....name",
                         connection)
# print the first few rows
data.head()

Create scatter plots of (1) numLangOff versus numLangUnoff, (2) numLangOff versus numLanguages , and (3) numLangUnoff versus numLanguages. In addition, compute the correlation matrix of data using DataFrame's $\texttt{corr()}$ method.

In [ ]:
# create scatter plot of numLangOff versus numLangUnoff
data.plot.scatter(x='...',y='...')
# create scatter plot of numLangOff versus numLanguages
data.plot.scatter(x='...',y='...')
# create scatter plot of numLangUnoff versus numLanguages
data.plot.scatter(x='...',y='...')
# compute the correlation matrix of the numbers of languages
data....()

What do you conclude? Which variables are most strongly correlated? What's the interpretation of this strong correlation? And what would the *R*<sup>2</sup> be if you would regress numLanguages on numLangOff and numLangUnoff jointly?

#### Conclusion:
*Your conclusions go here.*